<h1>To Do</h1>

<p>Your tasks:</p>
<div class="container">
<ul>
  <% @tasks.not_done().each do |task| %>
    <li><%= task.description %></li>
  <% end %>
</ul>

  <a href="/lists">View All Lists</a>
  <a href="/lists/new">Add New List</a>
</div>
