<h1>To Do</h1>

<p>Your tasks:</p>
<div class="container">
<ul>
  <% @tasks.not_done().each do |task| %>
    <li><%= task.description %></li>
  <% end %>
</ul>

<p>Create a new task:</p>

<form action="/tasks" method="post">
  <label for="description">Description</label>
  <input type="text" name="description" id="description">

<button type="submit">Add task</button>
</form>

  <a href="/lists">View All Lists</a>
  <a href="/lists/new">Add New List</a>
</div>
